{% extends "base.html" %}
{% block content %}
<!-- Main -->
<div id="main">
	<header class="major">
		<h1>Currently Available Menu Items at {{ name }}</h1>
	</header>

	<form method="post" action="#">
		
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Available</th>
					<th>Actually there?</th>
				</tr>
			</thead>
			<tbody>
				{% for item in menu %}
				<tr>
					<td>{{item.name}}</td>
					<td>
						{% if item.votes == 0 %}
						Maybe, go find out :)
						{% else %}
						<div class="bar" style="background-color: green; --bar-value:{{50 + item.percentage}}%;"></div><div class="bar" style="background-color: red; --bar-value:{{50 - item.percentage}}%;"></div>
						{{50 + item.percentage}}%
						{% endif %}
					</td>
					<td>
					<div class="col-4 col-12-small">
						<input type="radio" id="{{item.name}}_avaliable" name="{{item.name}}" value="avaliable">
						<label for="{{item.name}}_avaliable">Available</label>
					</div>
					<div class="col-4 col-12-small">
						<input type="radio" id="{{item.name}}_unknown" name="{{item.name}}" value="unknown" checked>
						<label for="{{item.name}}_unknown">No Clue</label>
					</div>
					<div class="col-4 col-12-small">
						<input type="radio" id="{{item.name}}_unavaliable" name="{{item.name}}" value="unavaliable">
						<label for="{{item.name}}_unavaliable">Unavaliable</label>
					</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<input id="submit" type="submit" value="Submit Changes" class="primary"/>
		</div>
	</form>
</div>
{% endblock %}