{% extends "base.html" %}
{% block content %}
<!-- Main -->
<div id="main">
	<header class="major">
		<h1>Currently Available Menu Items at {{ name }}</h1>
	</header>

	<div class="table-wrapper">
		<form method="post" action="#">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Available</th>
					<th>Actually there?</th>
				</tr>
			</thead>
			<tbody>
				{% for item in menu %}
				<tr>
					<td>{{ item.name.replace('_',' ') }}</td>
					<td>{{ item.getAvaliable()}}</td>
					<td>
					<div class="col-6 col-12-small">
						<input type="checkbox" id={{ item.name }} name="items"  value={{ item.name }} {% if item.number == '1' %}checked{% endif %}>
						<label for={{ item.name }}></label>
					</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<input type="submit" value="Submit Changes" class="primary" />
		</form>
	</div>
</div>
{% endblock %}